@charset "utf-8";
/* define color */
/* CSS Document */
body 
{
	font-family:Arial, 
	Helvetica, sans-serif; 
	font-size:12px; 
	/*background-color: #3F3E3E;*/
	background: url("/images/redesign/bkg-gradient.png") repeat-x scroll center top #FFFFFF;
}

h1 
{
	font-family:Helvetica, Arial, sans-serif; 
	font-size:12pt; 
	color:#006666; 
	padding:0; 
	padding-top:5px; 
	padding-left:10px;
}

h2 {font-family:Verdana, Helvetica, Arial, sans-serif; font-size:10pt; color:#000; padding-left:10px; text-align:left;}

#pageComplete {background-color:#FFF;}
#masthead {font-family: Helvetica, Arial, sans-serif; background:url(/images/redesign/banner.png);}
	#masthead *{color:#FFFFFF;}
	#identity {font-size: 18px; font-weight:bold;}
	.agencyName {margin-top:10px !important;}  
	.siteName {display:none; padding-bottom:5px !important;}  
	.deptName 
	{
		height:21px;
		font-size: 15px; 
		font-weight:bold; 
		padding-top:2px;
	}
	
	#agencyNav, #siteNav{font-size:11px;}
	ul#nav a.level1
	{
		color:#FFF; 
		font-weight:bold; 
		/*background:url(/images/redesign/bkg-tabs.png) repeat-x;*/
		background: #006666;
		height: 17px !important;
	} 
	#nav div a{color:#005782; font-weight:bold;}

#bodyContent {margin:0 30px;}

#popularTopics a{font-weight:bold; color:#000; font-size:13px;}
#midContent {font-size:13px;}
#spotlightContent a {color:#000; font-weight:bold;}

#bottomContent
{
	font-size:14px; font-weight:bold;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
}

#bottomContent h1 {font-size:20px; text-align:center;}

#bottomContentLeft	{width:45%; float:left; /*padding:0 20px;*/ border-right:1px dotted #BBB;}	/* Daniel */
#bottomContentRight {width:45%; float:left; /*padding:0 20px;*/}								/* Daniel */
.locationLevel2 {padding-top:5px; padding-left:0px;}	/* Daniel */
.locationLevel3 {padding-top:5px; padding-left:20px;}	/* Daniel */
.locationLevel4 {padding-top:5px; padding-left:40px;}	/* Daniel */


#footerContent 
{
	/*background-color:#407EB4;*/
	background-color:#000;
	font-size:10px; 
}
#footerContent * { color:#FFF; }

#lastModifiedContent
{
	background-color:#FFF; 
	font-size:12px; 
	width:940px; 
	text-align:right; 
	margin:0 30px;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	clear: both;
}	/* Daniel */


/******************		NON HOME PAGES (ALL OTHER PAGES) 		*********************/ 
#location #socialmedia h2{font-size:16px; color:#005782; font-style:italic; font-family:Arial, Helvetica, sans-serif;}
#footerContent.nonhome { background-color:#000;}

#relatedTopics {}
	h1.related_topics 
	{
		font-size:14px; 
		color:#005782; 
		margin:6px 0 0 10px; 
		padding:10px 0 0 10px !important; 
		font-family:Arial, Helvetica, sans-serif;
	}
	
	h2.related_topics 
	{
		background-color:#C6D4C5;
		font-size:14px;
		font-weight:bold;
		text-align:center;
	}
	
	#relatedTopics ul 
	{
		font-family:Verdana, Arial, Helvetica, sans-serif; 
		font-size:12px;
	}
	
	#relatedTopics li 
	{
		list-style:none;
	}
	
	#relatedTopics a 
	{
		display:block;
		padding-left:13px;	
		background:url(/images/redesign/Arrow-Menu.png) no-repeat; 
		background-position:2px; 
		color:#000; 
		line-height:2em;
		background-position: 0px 8px;
	}
	
	
#pageContent h1{font-size:18px; color:#005782; width:95%; border-bottom:1px dotted #888; padding-left:0;}
#pageContent h2{font-size:15px; color:#000; width:95%; border-bottom:1px dotted #888; padding-left:0;}
#pageContent h3{font-size:13px; color:#000; width:95%; border-bottom:1px dotted #888; padding-left:0;}


/* tabs in the bottom section */
#tabs
{
	border:none;
	/*font-size: 12px;*/
}
#tabs .ui-widget-header
{
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
}

#tabs .ui-tabs-nav li a 
{
	/*color:#006666;*/
	font-size: 14px;
	font-weight: bold;
}

#tabs .ui-widget-content 
{
	font-size: 12px;
}

/* tab label background and font color */
#tabs .ui-state-default 		{background: #006666;}
#tabs .ui-state-active  		{background: #FFFFFF;}
#tabs .ui-state-default 	a 	{color: #FFFFFF;}
#tabs .ui-state-active		a 	{color: #000000;}



#middleTabs
{
	border: none;
	background: none;
}


/* tab label background and font color */
#middleTabs .ui-state-default 		{background: #006666;}
#middleTabs .ui-state-active  		{background: #FFFFFF;}
#middleTabs .ui-state-default 	a 	{color: #FFFFFF;}
#middleTabs .ui-state-active	a 	{color: #000000;}

#middleTabs .ui-tabs-nav 
{
	background: none;
}
#middleTabs .ui-tabs-nav li a 
{
/*	color:#006666;*/		/* tab label */
	font-size: 12px;
	font-weight: bold;
}

#middleTabs .ui-tabs-panel 
{
	background: none;	/* tab content */
}

#middleTabs .ui-widget-content 
{
	font-size: 12px;
	list-style: none;
	background: none;
}


#middleTabs ul 	{padding:0 0 0 0px;}
/*
#middleTabs li {list-style: none outside none; margin-bottom:0px;}
*/
#tab1 li {list-style: none outside none; margin-bottom:10px;}
#tab2 li {list-style: none outside none; margin-bottom:10px;}
#tab3 li {list-style: none outside none; margin-bottom:10px;}


#bottomContent 
	.ui-widget-content a 
	{
		font-family: Arial,Arial, Helvetica, sans-serif;
	}
	/*
	.ui-widget-content a:link {color:#0000FF;}		
	.ui-widget-content a:active {color:#FF0000;}	
	.ui-widget-content a:visited {color:blue;}		
	.ui-widget-content a:hover {color:blue;}
	*/

/* changed by Daniel Lee on 3/31/2014 */
#bottomContent .ui-widget-header {margin-left:-19px; margin-top:-5px;}


/*
a 
{
	color: #222222;
}		/* match to the default color in ".ui-widget-content a" */
*/	
	.textAlignRight
	{
		text-align: right;	
	}
	
.pageHeading {
    color: black;
    font-family: Verdana,Helvetica,Geneva,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
}


/* navigation links on landing pages */
#breadcrumb
{
	float:left;
	width:750px;
	padding:5px 10px;
}

#navigationStayConnected
{
	float:right;
	margin-right:10px;
}

#navigationStayConnected img
{
	width:30px; 
	height:30px;
}


/* http://www.ars.usda.gov/pandp/locations/cityPeopleList.cfm?modecode=36-45-00-00 */
#CityPeopleListing a {
    color: #0000FF;
}