@charset "utf-8";
/* set font sizes, width, mgarin */

/* CSS Document */

/*******************		BASE TAGS 			********************/
body {margin:0; padding:0;}
a 
{
	text-decoration:none;
	color: #00F;
}

a:hover 
{
	text-decoration:underline;
}

img {border:0}
div {margin:0; padding:0;}

/*******************		BASE TAGS 			********************/
#pageComplete {width:996px; margin:0 auto;}
#masthead * {padding:0; margin:0; list-style:none;}
#masthead {width:996px; height:115px; border-bottom:5px solid #FFF; padding-top:2px; clear:both;}
#agencyMenu ul li, #siteNav ul li  {display:inline;}

#identity {width:650px; float:left; padding-left:5px;}
	.USDAlogo {width:72px; height:50px; float:left; padding:2px 5px 2px 0 !important; vertical-align:middle;}
	.agencyName {}  
	.siteName {}  
	.deptName {height:20px; padding-left:2px;}

/* ARS Home | About ARS | Contact Us */
#agencyMenu {width:340px; float:right; padding-top:2px !important;}
	#agencyNav {text-align:right;}
	#agencyNav ul {height:22px; padding-top:5px !important; padding-right:10px;}
	#agencyNav ul li a {padding:2px 5px !important;}
	#agencySearch {height:40px; clear:both; padding-top:10px !important; margin:0 80px;}
	#agencySearch .searchbox {width:150px; height:24px;}
	/*label {display:none;}*/

.displayNone {display:none;}

#MenuNavigation{/*width:100%; height:36px;*/}
	#mainNav 
	{
		width:600px; 
		height:36px; 
		float:left; 
		/*padding-left:20px;*/
		/*padding-top:20px;*/
		position:relative; 
		padding-bottom:0; 
		margin-bottom:0;
		/* *z-index: 10; */		/* IE 7 and below */
	}
	
#siteNav 
{
	/*width:40%;*/ 
	float:right; 
	text-align:right; 
	padding-top:10px !important; 
}

#siteNav ul li a {padding:0 8px !important;}

/***********		MAIN MENU / NAVIGATION TABS SECTION  	**************/
#nav 
{
	/*
	padding:5px 6px 0 6px; 
	margin-top:-5px;
	*/
}
#nav li.level1 
{
	display:block; 
	float:left; 
	/*height:36px;*/ 
	position:relative;
}

#nav li.level1 a.level1
{
	display:block; 
	float:left; 
	height:36px;
	/*padding:10px 20px 0 20px;*/ 
	padding:10px 20px 13px 20px;
	border-right:1px solid #FFF;
}
#nav li > div{padding:20px; min-width:200px; position:absolute; top:38px; left:0; display:none; border:2px solid #CCC; background-color:#FFF; line-height:2; z-index:200;}
#nav li:hover > div {display:block;}

/***********		MAIN CONTENT SECTION  	*******************/
#fullPage
{
	/*
	width:996px; 
	border:1px solid red;
	margin:0 auto;
	*/ 
	clear:both;
}
	
#homeContent, #bodyContent
	{width:940px; margin:0 auto; /*border:1px solid blue;*/}

	#topContent {border:6px solid #E9DFB9; height:313px;}
	
		#carousel, #topRight 
		{
			width: 660px; 
			height: 313px; 
			float: right; 
			overflow: hidden;
		}
		
		#carouselCaption {width:550px; float:left; padding:10px;}
		#carouselControl {width:100px; height:80px; float:left; margin-top:25px;}
		#carouselNavigation 
		{
			float:left; 
			/*padding:15px;*/
			padding:20px;
		}
		#carouselCounter {padding-left:15px; color:#00F; font-weight:bold;}
		.carouselPhoto 
		{
			/*
			height: 225px; 
			width:660px;
			*/
		}
		

		#TopicsTips, #topLeft {width:260px; height:313px; float:left; border-right:6px solid #E9DFB9;}
		
		#popularTopics {width:100%; height:200px;}
		#popularTopics h1 {margin:0; padding:0; padding-top:10px; padding-left:10px;}
		#popularTopics ul {padding:0; margin:0; padding-left:24px; padding-top:5px;}
		#popularTopics ul li{list-style:none; line-height:1.5;}
		
		#socialmedia {height:70px; text-align:center; padding:0; margin:0;}
		#socialmedia h2{margin:0; padding:0; margin:10px;}
		
		#topContent #socialmedia img{ width:36px; height:36px; margin:0; padding:0; margin-top:-5px;}
	
	#midContent, #middleContent
	{
		height:320px; 
		border:1px solid #999;
		margin-top:20px;
		
		/*background-color: #CCC;
		background: url("/images/redesign/centercontentborder.png");*/
	}
		#rotateContent, #middleLeft		{width:302px; height:320px; float:left; overflow:hidden;}
		
		#centerContent, #middleCenter	{width:320px; height:280px; float:left; padding:20px 10px; border-left: 1px solid #999; border-right: 1px solid #999; overflow:auto;}
		
		#spotlightContent, #middleRight	{width:260px; height:310px; float:left; padding:10px 15px; padding-bottom:0; overflow:auto;}
		#spotlightContent * {margin:0; padding:0;}
		#spotlightContent, #middleRight h1 {margin:0 0 15px 0;}
		#spotlightContent div {/*min-height:37px;*/ padding:2px 0; clear:both; border:0px solid #F00;}
		#spotlightContent img {float:left; width:50px; height:37px; padding:0 15px 0 0; display:block;}
		#spotlightContent p {display:block; margin-top:3px; margin-bottom:7px;}
		#middleRight ul 	{padding:0 0 0 14px;}
		#spotlightContent, #middleRight li {list-style: none outside none;}


	#bottomContent 
	{
		/* max-height:400px; */ 
		padding-bottom:20px; 
		/* border:1px solid #999; */ 
		margin-top:20px; 
		overflow:auto;
	} 
		/*#bottomContent * {padding:0; margin:0;}*/
		/*#bottomContent h1 {padding:5px 0 10px 0;} */		/* Daniel */
		#bottomContent p {padding:0; margin:5px 0 0 0;}
		
		/*
		 * #bottomContent ul {padding:0 0 0 15px;}
		 * #bottomContent li {list-style:none; padding:5px 0 0 5px;} 
		 */
		#bottomContent ul {margin: 0px; padding:0 0 0 15px; font-size: 14px;}
		#bottomContent li {list-style:none; font-family: Arial,Arial, Helvetica, sans-serif; font-size: 14px;}
		
		
		#promotionLine {border:#FFF solid 2px; line-height: 2px; margin: 0 5px; padding: 0;}
		#promo_content_Left {border-right:1px dotted #BBB; width:44%; float:left; padding:0 20px; }
		#promo_content_Right {width:44%; float:right; padding:0 20px; margin:0;}

	
	#footerContent 
	{
		border:1px solid #999; 
		height:54px; 
		text-align:center; 
		width:940px; 
		/* margin:0 auto; */
		margin: 0 30px;
	}
	
/***********		ROUNDED CORNERS 	*******************/
#midContent, #middleContent 
{
	border-radius: 20px; 
	-moz-border-radius: 20px; 
	behavior: url(../redesign/includes/css/border-radius.htc);
}

#bottomContent {border-top-left-radius: 20px; -moz-border-radius-topleft: 20px; border-top-right-radius: 20px; -moz-border-radius-topright: 20px; }
#footerContent { border-bottom-left-radius: 20px; -moz-border-radius-bottomleft: 20px; border-bottom-right-radius: 20px; -moz-border-radius-bottomright: 20px; }
#AgencyNewsTop_Latest {border-top-left-radius: 20px; -moz-border-radius-topleft: 20px; }
#firstTab {border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; }
#lastTab {border-top-right-radius: 10px; -moz-border-radius-topright: 10px; }
#relatedTopics 
{
	border-radius: 20px; 
	-moz-border-radius: 20px;
}
#footerContent.nonhome {border-bottom-left-radius: 20px; -moz-border-radius-bottomleft: 20px; border-bottom-right-radius: 20px; -moz-border-radius-bottomright: 20px; }

/******			TABBED NEWS CONTENTS SECTION 		*********/
#AgencyNewsWrapper { width:304px; height:320px; position:relative; background:transparent; z-index:1;}
#AgencyNewsWrapper * {margin:0; padding:0; font-size:12px;}
#AgencyNewsTop {}
#AgencyNewsDetail h1 {display:none; speak:normal;}
#AgencyNewsDetail li {list-style:none; padding-bottom:7px;}
#AgencyNewsDetail * { color:#000; font-weight:normal;}
.AbsoluteHiddenBodyText 
{
	clear:both; 
	position:absolute; 
	top:40px; 
	padding:0 10px 0 15px !important; 
	height:260px;
	width:270px; 
	overflow:auto;
}

#AgencyNewsTop li {display:inline; float:left; padding:5px 0!important; width:100px; text-align:center;}
.toplink 
{
	font-weight:bold; 
	line-height: 2em; 
	/* background:url(/images/redesign/bkg-tabs.png) top repeat-x; */
	background:#006666; 
	color:#FFF; 
	border-left:1px solid #FFF;
}

.selectedTab {font-weight:bold; line-height: 2em; background:none #FFF !important;}


/******************		NON HOME PAGES (ALL OTHER PAGES) 		*********************/ 
#location {width:100%; height:30px; clear:both; border-bottom:0px solid #000;}
#location * {padding:0; margin:0;}
	#breadcrumbs{width:620px; height:20px; float:left; padding:5px 10px; }
	#location #socialmedia {width:320px; height:30px; float:right; padding-right:10px; padding:0;}
	#location #socialmedia h2{width:130px; float:left;text-align:right; margin:0; margin-top:5px; }
	#location #socialmedia img {width:30px; height:30px; float:left;}
#pageContent 
{
	width:695px; 
	float:right; 
	margin: 10px 10px 10px 10px; 
}

#relatedTopics 
{
	width:240px; 
	float:left; 
	border:1px solid #060; 
	padding-top:5px; 
	padding-bottom:20px; 
	margin-left:30px; 
	margin-top:15px;
}

	#relatedTopics * {margin:0; padding:0;}
	#relatedTopics ul {margin:0; padding:0; padding:10px 0 0 17px;}
	#relatedTopics li {list-style:none !important;}
#footerContent.nonhome {width:940px; margin:0 auto; height:54px; text-align:center; border:20px solid #FFF;}

/*  border:1px solid #F00; 	*/


/********			CLASSES (REUSABLE DEFINITIONS) 		*********/
.section508 {display:none; }
.leftfloat {float:left;}
.rightfloat {float:right;}
.clearfloat {clear:both; height:0;}
.justright {text-align:right;}
.justleft {text-align:left;}
.justcenter {text-align:center;}
.more {padding:15px 20px 0 0; text-align:right;}
.search-left {width:180px; height:30px; float:left; border:1px solid #00F; text-align:right;}
.search-right {width:30px; height:30px; float:left; border:1px solid #00F; margin-top:2px !important;}