



/**umb_name:H1*/
H1{font-family:Helvetica, Arial, sans-serif; 
	font-size:12pt; 
	color:#006666; 
	padding:0; 
	padding-top:5px; 
	padding-left:10px;}

/**umb_name:H2*/
H2{font-family:Verdana, Helvetica, Arial, sans-serif;
font-size:10pt;
color:#000;
padding-left:10px;
text-align:left;}