<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <add
      name="LocationConnectionString"
      connectionString="Data Source=technik-usda.imulus.io;Initial Catalog=aris_public_web;Persist Security Info=True;User ID=usda-sql;Password=RDrQ*n34Q!nP1^V!LE"
      providerName="System.Data.SqlClient"
      
      
  />
    <!--SqlConnectionString for testing localContext database with windows authentication-->
    <add name="SqlConnectionString"       connectionString="data source=localhost;   initial catalog=aris_public_webNew;persist security info=True;    Integrated Security=SSPI;"       providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>
