@using Archetype.Extensions
@using Archetype.Models
@model Archetype.Models.ArchetypeFieldsetModel
@{
    var slides = Model.GetValue<ArchetypeModel>("slide");
    if (!slides.Any())
    {
        //return;
    }
}

<h1>H!!!</h1>

@foreach (var slide in slides)
{
    <a href="@slide.GetValue("slideUrl")" title="@slide.GetValue("slideText")">
        <img src="@slide.GetValue("slideImage")"  class="carouselPhoto" alt="@slide.GetValue("slideAltText")" />
    </a>
}