@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@{
    IEnumerable<IPublishedContent> mainOfficeList = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.MainOfficeList();
}

@if (mainOfficeList != null && mainOfficeList.Any())
{
    <ul>
        @foreach (IPublishedContent officeItem in mainOfficeList)
        {
            string navLinkUrl = "#";
            if (officeItem.HasValue("navigationLink"))
            {
                Link navLink = officeItem.GetPropertyValue<MultiUrls>("navigationLink").FirstOrDefault();

                navLinkUrl = navLink.Url;
            }
            <li class="locationLevel2">
                <a href="@navLinkUrl">@(officeItem.Name)</a>
            </li>
            if (officeItem.Children != null && officeItem.Children.Any())
            {
                foreach (IPublishedContent subOfficeItem in officeItem.Children)
                {
                    string navSubLinkUrl = "#";
                    if (subOfficeItem.HasValue("navigationLink"))
                    {
                        Link navSubLink = subOfficeItem.GetPropertyValue<MultiUrls>("navigationLink").FirstOrDefault();

                        navSubLinkUrl = navSubLink.Url;
                    }
                    <li class="locationLevel3">
                        <a href="@navSubLinkUrl">@(subOfficeItem.Name)</a>
                    </li>
                }
            }
        }
    </ul>
}