<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="Umbraco:ApiUrl" value="http://technik-usda-test.imulus.io/umbraco/usda/ContentImporter/" />
    <add key="Umbraco:ApiKey" value="E027CF8B-C5B8-45F6-A37B-979DB02A8544" />







    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>