<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="Umbraco:ApiUrl" value="http://technik-usda.axial.us/umbraco/usda/ContentImporter/" />
    <add key="Umbraco:ApiKey" value="E027CF8B-C5B8-45F6-A37B-979DB02A8544" />







    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=technik-usda.axial.us;Initial Catalog=aris_public_web;Persist Security Info=True;User ID=usda-sql2;Password=RDrQ*n34Q!nP1^V!LE" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>