<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Rules>
    <Rule Type="DisableProperties" Enabled="true" Names="modeCode" Users="" UserTypes="Editor" ContentIds="" ContentTypes="" Description="" />
    <Rule Type="DisableProperties" Enabled="true" Names="oldModeCodes" Users="" UserTypes="Editor" ContentIds="" ContentTypes="" Description="" />
    <Rule Type="DisableProperties" Enabled="true" Names="folderLabel" Users="" UserTypes="Editor" ContentIds="" ContentTypes="" Description="" />
    <Rule Type="DisableProperties" Enabled="true" Names="webtrendsProfileID" Users="" UserTypes="Editor" ContentIds="" ContentTypes="" Description="" />
    <Rule Type="DisableProperties" Enabled="true" Names="npCode" Users="" UserTypes="Editor" ContentIds="" ContentTypes="" Description="" />
  </Rules>
  <Scripts>
    <Script Name="example">console.log('Hello world');</Script>
  </Scripts>
</Config>