<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Rules>
    <Rule Type="HideProperties" Enabled="false" Names="property1Alias" Users="" UserTypes="" ContentIds="" ContentTypes="" Description="Example" />
  </Rules>
  <Scripts>
    <Script Name="example">console.log('Hello world');</Script>
  </Scripts>
</Config>