.decendants-audit-table {
    border: 1px solid #dbdbdb;
    text-align: left;
}

.decendants-audit-table thead tr {
}

.decendants-audit-table thead th{ 
    border: 1px solid #dbdbdb;
    padding: 4px 5px;
    font-weight: 700;
}

.decendants-audit-table tbody tr {
}

.decendants-audit-table tbody td {
    border: 1px solid #dbdbdb;
    padding: 4px 5px;
    font-weight: 400;
}