@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@using USDA_ARS.Umbraco.Extensions.Models.Aris
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;

    List<IPublishedContent> researchUnitList = currentPage.Descendants().ToList();

    if (researchUnitList != null && researchUnitList.Count == 1)
    {
        Response.Redirect(researchUnitList[0].Url);
    }
}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

    @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

    <div id="pageContent">


        <!-- jQuery accordion -->
        <script>
            $(document).ready(function () {
                $("#accordion")
                    .accordion({
                        header: "h4",
                        active: false,
                        collapsible: true,
                        icons: {
                            // Icon for collapsed headers
                            header: "ui-icon-plus",

                            // Icon for active header
                            activeHeader: "ui-icon-minus"
                        },
                        heightStyle: "content"
                    });

                // Expand/Collapse all
                $('.expand').click(function () {
                    $('.ui-widget-content').show();
                });
                $('.collapse').click(function () {
                    $('.ui-widget-content').hide();
                });

                /*
                $('.toggle').click(function() {
                    $('.ui-widget-content').toggle();
                    $(this).text($(this).text() == '[Collapse All]' ? '[Expand All]' : '[Collapse All]');
                });
                */



            });
        </script>


        <div id="CityPeopleListing">



            <b>
                People and Locations at
                @currentPage.Name
            </b>
            <br /><br />


            <!-- Expand/Collapse All -->
            <div style="margin-left:450px;">
                <a href="#" class="expand">[Expand All]</a> |
                <a href="#" class="collapse">[Collapse All]</a>

            </div>


            <div id="accordion" style="width:600px">



                <h4 id="20000000">
                    Location Support Staff

                    (2 people)
                </h4>

                <div>
                    <p>




                        <ul>

                            <li>
                                <a href="/pandp/people/people.htm?personid=45070" class="listItems">
                                    EIRI,
                                    SHERI
                                </a>
                                <br>
                                (520) 316-6314<br> eiri.marcelo@ars.usda.gov <br> Purchasing Agent
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=45062" class="listItems">
                                    GARRETT,
                                    JOSEPH
                                </a>
                                <br>
                                (520) 316-6300<br> joseph.garrett@ars.usda.gov <br> Administrative Officer
                                <br>
                                <br>
                            </li>

                        </ul>
                    </p>
                </div>


                <h4 id="20200500">
                    U.S. Arid Land Agricultural Research Center

                    (5 people)
                </h4>

                <div>
                    <p>



                        <b>Home Page:</b>
                        <a name="U.S. Arid Land Agricultural Research Center"
                           href="/main/site_main.htm?modecode=20-20-05-00"
                           style="color: #0000FF;"
                           title="U.S. Arid Land Agricultural Research Center home page">

                            U.S. Arid Land Agricultural Research Center
                        </a>


                        <ul>

                            <li>
                                <a href="/pandp/people/people.htm?personid=3005" class="listItems">
                                    KIMBALL,
                                    BRUCE
                                </a>
                                <br>
                                (520) 316-6369<br> bruce.kimball@ars.usda.gov <br> Collaborator
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=34918" class="listItems">
                                    NAKAYAMA,
                                    FRANCIS
                                </a>
                                <br>
                                (520) 316-6350<br> francis.nakayama@ars.usda.gov <br> Physical Science Collaborator
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=45857" class="listItems">
                                    BORG,
                                    CHERYL
                                </a>
                                <br>
                                (520) 316-6300<br> Cheryl.Borg@ars.usda.gov <br> Secretary (Office Automation)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=49861" class="listItems">
                                    GARRETT,
                                    LYN
                                </a>
                                <br>
                                (520) 316-6331<br> Lyn.Garrett@ARS.USDA.GOV <br> Program Support Assistant
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=4056" class="listItems">
                                    NARANJO,
                                    STEVEN
                                </a>
                                <br>
                                (520) 316-6333<br> steve.naranjo@ars.usda.gov <br> Center Director
                                <br>
                                <br>
                            </li>

                        </ul>
                    </p>
                </div>


                <h4 id="20200505">
                    Pest Management and Biocontrol Research

                    (14 people)
                </h4>

                <div>
                    <p>



                        <b>Home Page:</b>
                        <a name="Pest Management and Biocontrol Research"
                           href="/main/site_main.htm?modecode=20-20-05-05"
                           style="color: #0000FF;"
                           title="Pest Management and Biocontrol Research home page">

                            Pest Management and Biocontrol Research
                        </a>


                        <ul>

                            <li>
                                <a href="/pandp/people/people.htm?personid=42111" class="listItems">
                                    BRENT,
                                    COLIN
                                </a>
                                <br>
                                (520) 316-6337<br> Colin.Brent@ars.usda.gov <br> Research Entomologist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=920" class="listItems">
                                    CASTLE,
                                    STEVEN
                                </a>
                                <br>
                                (520) 316-6338<br> steven.castle@ars.usda.gov <br> Research Entomologist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=933" class="listItems">
                                    CERVANTES,
                                    ANNA
                                </a>
                                <br>
                                (520) 316-6413<br> anna.cervantes@ars.usda.gov <br> Biological Science Technician (Insects)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=1573" class="listItems">
                                    ELHOFF,
                                    LEANNE
                                </a>
                                <br>
                                (520) 316-6410<br> leanne.elhoff@ars.usda.gov <br> Biological Science Technician (Insects)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=37022" class="listItems">
                                    FABRICK,
                                    JEFFREY
                                </a>
                                <br>
                                (520) 316-6335<br> jeff.fabrick@ars.usda.gov <br> Research Entomologist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=2219" class="listItems">
                                    HAGLER,
                                    JAMES
                                </a>
                                <br>
                                (520) 316-6336<br> james.hagler@ars.usda.gov <br> Research Entomologist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=44841" class="listItems">
                                    HULL,
                                    JOE
                                </a>
                                <br>
                                (520) 316-6300<br> Joe.Hull@ars.usda.gov <br> Research Molecular Biologist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=2791" class="listItems">
                                    JECH,
                                    LYNN
                                </a>
                                <br>
                                (520) 316-6411<br> lynn.jech@ars.usda.gov <br> Biological Science Technician (Insects)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=3213" class="listItems">
                                    LANGHORST,
                                    DANIEL
                                </a>
                                <br>
                                (520) 316-6417<br> daniel.langhorst@ars.usda.gov <br> Biological Science Lab Technician (Insects)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=3510" class="listItems">
                                    MACHTLEY,
                                    SCOTT
                                </a>
                                <br>
                                (520) 316-6405<br> scott.machtley@ars.usda.gov <br> Biological Science Lab Technician (Insects)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=21030" class="listItems">
                                    MERTEN,
                                    PAUL
                                </a>
                                <br>
                                (520) 316-6406<br> paul.merten@ars.usda.gov <br> Biological Science Technician (Insects)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=5174" class="listItems">
                                    SILVERSMITH,
                                    BROOKS
                                </a>
                                <br>
                                (520) 316-6414<br> brooks.silversmith@ars.usda.gov <br> Biological Science Technician (Insects)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=5349" class="listItems">
                                    SPURGEON,
                                    DALE
                                </a>
                                <br>
                                (520) 316-6300<br> Dale.Spurgeon@ars.usda.gov <br> Research Leader
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=51101" class="listItems">
                                    VanEkert,
                                    Evelien
                                </a>
                                <br>
                                (520) 316-6341<br> Evelien.VanEkert@ars.usda.gov <br> Biological Science Laboratory Technician (Microbiology)
                                <br>
                                <br>
                            </li>

                        </ul>
                    </p>
                </div>


                <h4 id="20200510">
                    Plant Physiology and Genetics Research

                    (14 people)
                </h4>

                <div>
                    <p>



                        <b>Home Page:</b>
                        <a name="Plant Physiology and Genetics Research"
                           href="/main/site_main.htm?modecode=20-20-05-10"
                           style="color: #0000FF;"
                           title="Plant Physiology and Genetics Research home page">

                            Plant Physiology and Genetics Research
                        </a>


                        <ul>

                            <li>
                                <a href="/pandp/people/people.htm?personid=50573" class="listItems">
                                    ABDEL-HALEEM,
                                    HUSSEIN
                                </a>
                                <br>
                                (520) 316-6355<br> Hussein.Abdel-Haleem@ars.usda.gov <br> Research Geneticist (Plants)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=1094" class="listItems">
                                    CONLEY,
                                    MATTHEW
                                </a>
                                <br>
                                (520) 316-6443<br> matthew.conley@ars.usda.gov <br> Physical Science Technician
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=1524" class="listItems">
                                    DYER,
                                    JOHN
                                </a>
                                <br>
                                (520) 316-6356<br> John.Dyer@ars.usda.gov <br> Research Leader
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=3265" class="listItems">
                                    LEAKE,
                                    GREGORY
                                </a>
                                <br>
                                (520) 316-6486<br> gregory.leake@ars.usda.gov <br> Biological Science Technician (Plants)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=4208" class="listItems">
                                    OLIVIERI,
                                    LAURA
                                </a>
                                <br>
                                (520) 316-6442<br> laura.olivier@ars.usda.gov <br> Biological Science Technician (Plants)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=4298" class="listItems">
                                    PARKS,
                                    NANCY
                                </a>
                                <br>
                                (520) 316-6421<br> nancy.parks@ars.usda.gov <br> Biological Science Technician (Plants)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=48447" class="listItems">
                                    SANCHEZ,
                                    PAUL
                                </a>
                                <br>
                                (520) 316-6300<br> Paul.Sanchez@ars.usda.gov <br> Research Agronomist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=51316" class="listItems">
                                    Singleton,
                                    Brenda
                                </a>
                                <br>
                                (520) 316-6461<br> Brenda.Singleton@ars.usda.gov <br> Biology Technician
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=48988" class="listItems">
                                    TASSONE,
                                    ERICA
                                </a>
                                <br>
                                (520) 316-6365<br> Erica.Tassone@ars.usda.gov <br> Research Geneticist (Plants)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=50572" class="listItems">
                                    THOMPSON,
                                    ALISON
                                </a>
                                <br>
                                (520) 316-6359<br> Alison.Thompson@ars.usda.gov <br> Research Geneticist (Plants)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=22662" class="listItems">
                                    TOMASI,
                                    PERNELL
                                </a>
                                <br>
                                (520) 316-6362<br> pernell.tomasi@ars.usda.gov <br> Plant Biologist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=5884" class="listItems">
                                    WALL,
                                    GERARD  - <i> GARY</i>
                                </a>
                                <br>
                                (520) 316-6367<br> gary.wall@ars.usda.gov <br> Plant Physiologist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=33167" class="listItems">
                                    WHITE,
                                    JEFFREY
                                </a>
                                <br>
                                (520) 316-6368<br> jeffrey.white@ars.usda.gov <br> Research Plant Physiologist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=49164" class="listItems">
                                    YURCHENKO,
                                    OLGA
                                </a>
                                <br>
                                (520) 316-6358<br> Research Molecular Biologist
                                <br>
                                <br>
                            </li>

                        </ul>
                    </p>
                </div>


                <h4 id="20200515">
                    Water Management and Conservation Research

                    (16 people)
                </h4>

                <div>
                    <p>



                        <b>Home Page:</b>
                        <a name="Water Management and Conservation Research"
                           href="/main/site_main.htm?modecode=20-20-05-15"
                           style="color: #0000FF;"
                           title="Water Management and Conservation Research home page">

                            Water Management and Conservation Research
                        </a>


                        <ul>

                            <li>
                                <a href="/pandp/people/people.htm?personid=343" class="listItems">
                                    BAUTISTA,
                                    EDUARDO
                                </a>
                                <br>
                                (520) 316-6381<br> eduardo.bautista@ars.usda.gov <br> Agricultural Engineer
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=45875" class="listItems">
                                    BRONSON,
                                    KEVIN
                                </a>
                                <br>
                                (520) 316-6300<br> Kevin.Bronson@ars.usda.gov <br> Research Leader
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=35034" class="listItems">
                                    FRENCH,
                                    ANDREW
                                </a>
                                <br>
                                (520) 316-6371<br> andrew.french@ars.usda.gov <br> Physical Scientist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=44755" class="listItems">
                                    HAGLER,
                                    MATTHEW
                                </a>
                                <br>
                                (520) 316-6300<br> Engineering Technician
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=2681" class="listItems">
                                    HUNSAKER,
                                    DOUGLAS  - <i> DOUG</i>
                                </a>
                                <br>
                                (520) 316-6372<br> doug.hunsaker@ars.usda.gov <br> Acting Research Leader
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=2831" class="listItems">
                                    JOHNSON,
                                    KATHY
                                </a>
                                <br>
                                (520) 316-6444<br> kathy.johnson@ars.usda.gov <br> Agricultural Science Research Technician
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=35036" class="listItems">
                                    KNOPF,
                                    ALLAN
                                </a>
                                <br>
                                (520) 316-6445<br> allen.knopf@ars.usda.gov <br> Physical Science Technician
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=3462" class="listItems">
                                    LUCKETT,
                                    WILLIAM
                                </a>
                                <br>
                                (520) 316-6386<br> william.luckett@ars.usda.gov <br> Physical Science Technician
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=1967" class="listItems">
                                    MANEELY,
                                    SUZETTE
                                </a>
                                <br>
                                (520) 316-6446<br> suzette.maneely@ars.usda.gov <br> Biological Science Technician (Plants)
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=46936" class="listItems">
                                    MON,
                                    JARAI
                                </a>
                                <br>
                                (520) 316-6383<br> Jarai.Mon@ars.usda.gov <br> Soil Scientist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=1064" class="listItems">
                                    ROCKHOLT,
                                    SHARETTE
                                </a>
                                <br>
                                (520) 316-6425<br> sharette.colbert@ars.usda.gov <br> Physical Science Technician
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=47483" class="listItems">
                                    ROLL,
                                    DEBORAH
                                </a>
                                <br>
                                (520) 331-6300<br> Deborah.Roll@ars.usda.gov <br> Physical Science Technician
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=35032" class="listItems">
                                    SCHLEGEL,
                                    JAMES
                                </a>
                                <br>
                                (520) 316-6385<br> james.schlegel@ars.usda.gov <br> Information Technology Specialist
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=5446" class="listItems">
                                    STRAND,
                                    ROBERT  - <i> BOB</i>
                                </a>
                                <br>
                                (520) 316-6377<br> bob.strand@ars.usda.gov <br> Electrical Engineer
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=40820" class="listItems">
                                    THORP,
                                    KELLY
                                </a>
                                <br>
                                (520) 316-6375<br> kelly.thorp@ars.usda.gov <br> Agricultural Engineer
                                <br>
                                <br>
                            </li>

                            <li>
                                <a href="/pandp/people/people.htm?personid=33168" class="listItems">
                                    WILLIAMS,
                                    CLINTON
                                </a>
                                <br>
                                (520) 316-6379<br> clinton.williams@ars.usda.gov <br> Soil Scientist
                                <br>
                                <br>
                            </li>

                        </ul>
                    </p>
                </div>

            </div>
            

        </div>

    </div>

</div>
