@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@using System.Text.RegularExpressions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;

    string modeCode = "";
    string bodyText = currentPage.GetPropertyValue<string>("bodyText"); ;

    if (false == string.IsNullOrWhiteSpace(Request.QueryString["modeCode"]))
    {
        modeCode = Request.QueryString.Get("modeCode");

        IPublishedContent siteNode = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.GetNodeByModeCode(modeCode);

        if (siteNode != null)
        {
            IPublishedContent newsNode = siteNode.Children.Where(n => n.IsDocumentType("SitesNews")).FirstOrDefault();

            if (newsNode != null)
            {
                Response.Redirect(newsNode.Url);
            }
        }
    }

}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

    @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

    <div id="pageContent">

        @Html.Raw(bodyText)

        <br />
        <p></p>

    </div>
</div>