@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;
    IPublishedContent siteSettings = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.SiteSettings();

    ArchetypeModel socialLinks = siteSettings.GetPropertyValue<ArchetypeModel>("socialLinks");
    bool hideHeaderTitle = currentPage.GetPropertyValue<bool>("hidePageTitle");
}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

    @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

    <div id="pageContent">

        <table border="0" width="100%">
            @if (false == hideHeaderTitle)
            {
                <tr>
                    <td class="pageHeading">@currentPage.Name                                                                                                                                                                                               </td>
                </tr>
                    <tr>
                        <td>

                            <img src="/images/headline_bar.gif" alt="headline bar" width="100%" />
                        </td>
                    </tr>
            }
            <tr>
                <td>
                    @Html.Raw(currentPage.GetPropertyValue<string>("contentTable"))
                </td>
            </tr>
        </table>

        <!-- document content end -->
        <br>
        <p></p>


    </div>

</div>