@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;

   List<IPublishedContent> childrenList = currentPage.Children;

   if (childrenList != null && childrenList.Any())
   {
      childrenList = childrenList.Where(p => p.DocumentTypeAlias != "SiteNavFolder").ToList();
   }
}

<div id="fullPage">

   @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

   <div id="pageContent">
      <table border="0" width="100%">
         <tr>
            <td class="pageHeading">@currentPage.Name</td>
         </tr>
         <tr>
            <td>
               <img src="/images/headline_bar.gif" alt="headline bar" width="100%" />
            </td>
         </tr>
      </table>



      <!-- display URLs of subpages start -->
      <!--  display URLs of subpages end -->
      <!-- document content start -->

      @if (currentPage != null && currentPage.Children != null && currentPage.Children.Any())
        {
         <ul>
            @foreach(IPublishedContent page in currentPage.Children)
                {
               <li><a href="@(page.Url)">@(page.Name)</a></li>
                }
         </ul>
        }
        else
        {
         <p>No pages to list.</p>
        }
      <!-- document content end -->


      <br />



      <p></p>


   </div>
</div>