<?xml version="1.0" encoding="utf-8"?>

<configuration>
  

  <system.web.webPages.razor>
    
    <pages>
      <namespaces>
        
        
        
        
        <add namespace="USDA_ARS.Umbraco" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  

  

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
