<?xml version="1.0" encoding="utf-8"?>
<configuration>

  

  <system.web.webPages.razor>
    
    <pages>
      <namespaces>
        
        
        
        
        <add namespace="Umbraco.Web" />
        <add namespace="Umbraco.Core" />
        <add namespace="Umbraco.Core.Models" />

        <add namespace="Our.Umbraco.PropertyConverters.Models" />
        
      <add namespace="Our.Umbraco.PropertyConverters.Models" /></namespaces>
    </pages>
  </system.web.webPages.razor>

  




</configuration>
