<style>
	#downloads-table td {
				border: 1px solid #777;
	}
</style>


<div ng-controller="Usda.Download.Requests">
			<div ng-repeat="group in NodeDownloadRequestsList" style="margin-bottom: 30px;">
						<p><strong>{{ group.SoftwareTitle }}</strong> - <a ng-click="clearRequests()">Clear</a></p>

						<table id="downloads-table" cellpadding="4" cellspacing="3" style="border: 1px solid #000;">
									<tr style="background-color: #c6d9de">
												<th>Date</th>
												<th>First</th>
												<th>Last</th>
												<th>Middle</th>
												<th>Email</th>
												<th>Affiliation</th>
												<th>City</th>
												<th>State</th>
												<th>Country</th>
									</tr>
									<tbody ng-repeat="DownloadItem in group.DownloadRequestList">
												<tr>
															<td>{{ DownloadItem.TimeStamp | date:'MM/dd/yyyy @ h:mma' }}</td>
															<td>{{ DownloadItem.FirstName }}</td>
															<td>{{ DownloadItem.LastName }}</td>
															<td>{{ DownloadItem.MiddleName }}</td>
															<td>{{ DownloadItem.Email }}</td>
															<td>{{ DownloadItem.Affiliation }}</td>
															<td>{{ DownloadItem.City }}</td>
															<td>{{ DownloadItem.State }}</td>
															<td>{{ DownloadItem.Country }}</td>
												</tr>
												<tr>
															<td><strong>Referer URL</strong></td>
															<td colspan="8">{{ DownloadItem.HttpReferer }}</td>
												</tr>
												<tr>
															<td><strong>Purpose</strong></td>
															<td colspan="8">{{ DownloadItem.Purpose }}</td>
												</tr>
												<tr>
															<td><strong>Reference</strong></td>
															<td colspan="8">{{ DownloadItem.Reference }}</td>
												</tr>
												<tr>
															<td><strong>Comments</strong></td>
															<td colspan="8">{{ DownloadItem.Comments }}</td>
												</tr>
												<tr>
															<td colspan="10"><hr style=" border: 0; height: 3px; background: #000;" /></td>
												</tr>
									</tbody>
						</table>
			</div>
</div>